.main-quotes-container {
  padding: 2.25rem;
  background: #ebebf7;
  width: 100%;
}

.card-container {
  border-radius: 10px;
  background: white;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.quotes-list-container {
  width: 50%;
  height: 400px;
}

.quotes-list-title {
  display: flex;
  align-items: center;
  padding: 1.25rem 1.5rem;
  border-bottom: 3px solid #ebebf7;
}

.quotes-list-title-title {
  font-size: 1.6rem;
  color: #5f6caf;
  letter-spacing: 0.05rem;
}

#quotes-main-icon {
  color: #5bbfba;
  width: 28px;
  height: 28px;
  margin-right: 1rem;
}

/* Quotes sorting feature */
.quotes-list-sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid #ebebf7;
  color: #616169;
}

.quotes-sort-price,
.quotes-sort-date {
  display: flex;
  align-items: center;
}

.quotes-sort-price > *,
.quotes-sort-date > * {
  margin-left: 0.75rem;
}

.sort-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5bbfba;
  color: #5bbfba;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  width: 55px;
  font-size: 0.8rem;
}

.sort-btn:hover {
  cursor: pointer;
  background: #5bbfba;
  color: white;
}


/* Quotes body */
.quotes-list-body {
  display: flex;
  flex-direction: column;
}

.quotes-list-body-titles {
  display: flex;
  margin-top: 0.3rem;
  padding: 0.75rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #616169;
  position: relative;
}

.quotes-list-name, 
.quotes-list-destination, 
.quotes-list-price, 
.quotes-list-departure-date {
  position: absolute;
}

.quotes-list-name {left: 4%}
.quotes-list-destination {left: 30%}
.quotes-list-price {left: 55%}
.quotes-list-departure-date {left: 71%}

.quotes-list-item {
  position: relative;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 33px;
  color: #616169;
}

.quotes-list-item-name {
  position: absolute;
  left: 4%;
}
.quotes-list-item-destination {
  position: absolute;
  left: 30%;
}
.quotes-list-item-price {
  position: absolute;
  left: 55%;
}
.quotes-list-item-departure-date {
  position: absolute;
  left: 71%;
}

.quotes-list-body-items {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}